<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>ChatBot Clinica de Estética</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="chat-container">
        <div id="chat-box" class="chat-box"></div>
        <div class="input-area">
            <input type="text" id="user-input" placeholder="Digite sua mensagem..." autocomplete="off">
            <button id="send-button" class="send-button" onclick="sendMessage()">enviar</button>
            <button id="search-button" class="search-button" onclick="searchPrescriptions()">🔍</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}">
    </script>
</body>

</html>